.enter-site {
  background: linear-gradient(135deg, #0099ff, #00ccff);
  color: white;
  font-size: 18px;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 153, 255, 0.3);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.enter-site::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  top: 50%;
  left: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.3) 10%,
    transparent 50%
  );
  transition: transform 0.5s ease-out;
  transform: translate(-50%, -50%) scale(0);
}

.enter-site:hover::before {
  transform: translate(-50%, -50%) scale(1);
}

.enter-site:hover {
  background: linear-gradient(135deg, #007acc, #00aaff);
  box-shadow: 0 6px 15px rgba(0, 153, 255, 0.5);
}

/* Navbar CSS */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 60px;
}

header {
  color: #fff;
  background-color: #5052c8;
  overflow: visible;
  position: fixed;
  top: 0;
  width: 100%;
}
header .inner-wrap {
  max-width: 1280px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 1em;
  overflow: visible;
}
header .brand {
  display: flex;
}
header .brand h1 {
  align-self: center;
  font-size: 2em;
  display: inline-block;
  padding: 0 0 0 16px;
}

header nav {
  align-self: center;
  display: flex;
  justify-content: space-around;
  transition: all 400ms;
}
header nav a {
  color: #fff;
  text-decoration: none;
  padding: 2px 16px;
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 678px) {
  header nav a {
    text-align: center;
  }
}
header nav a:active,
header nav a:hover,
header nav a:visited {
  color: #fff;
  text-decoration: none;
}
@media screen and (max-width: 678px) {
  header nav {
    margin: 0;
    background-color: #333;
    position: absolute;
    top: 60px;
    right: -100%;
    width: 50%;
    height: calc(100vh - 60px);
    flex-direction: column;
    padding: 0;
  }
}
header .nav-active {
  right: 0;
}
header .menu-toggle {
  display: none;
}
header .menu-toggle svg {
  width: 36px;
  height: 36px;
  align-self: center;
  display: block;
}
header .menu-toggle svg.menu-close {
  display: none;
}
@media screen and (max-width: 678px) {
  header .menu-toggle {
    display: flex;
  }
}
header .menu-toggle-active svg.menu-open {
  display: none;
}
header .menu-toggle-active svg.menu-close {
  display: block;
}
